<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="EclipseRT Jetty StarterKit">
<locations>
<location path="${workspace_loc:EclipseRTWebStarterKit}" type="Profile"/>
</locations>
</target>
