<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Nuxeo OSGI Core Server Platform" sequenceNumber="5">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.ecr.application.sdk.feature.group" version="0.5.4.201103201028"/>
<unit id="org.eclipse.ecr.application.feature.group" version="0.5.4.201103201028"/>
<repository location="http://osgi.nuxeo.org/p2/ecr/current/repository"/>
</location>
</locations>
<launcherArgs>
<vmArgs>-Dosgi.requiredJavaVersion=1.6 -XX:MaxPermSize=256m -Xms40m -Xmx512m</vmArgs>
</launcherArgs>
</target>
