<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="ECR"
            id="org.eclipse.ecr.ide">
      </category>
      <view
            name="ECR Shell"
            icon="icons/terminal.png"
            category="org.eclipse.ecr.ide"
            class="org.eclipse.ecr.ide.shell.views.ShellView"
            id="org.eclipse.ecr.ide.shell.views.ShellView">
      </view>
   </extension>

</plugin>
